
NxNandManager/gui/build/
NxNandManager/.vs
*.pro.user
NxNandManager/NxNandManager/x64/

NxNandManager/NxNandManager.vcxproj.user

build.txt

build/

.vscode/settings.json

NxNandManager/cmake-build-debug
